git+https://github.com/bfshi/scaling_on_scales.git
torch==2.1.2+cu121
torchvision==0.16.2
protobuf
transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
huggingface-hub
shortuuid
accelerate==0.32.0
peft==0.10.0
bitsandbytes
pydantic
markdown2[all]
numpy==1.26.4
scikit-learn==1.2.2
requests
httpx==0.24.0
uvicorn
fastapi
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
xformers
pillow
tqdm
deepspeed==0.12.6